<ng-container *transloco="let t">
  <p class="text-3xl font-bold underline">
  </p>
  <mat-icon svgIcon="heroicons_outline:academic-cap"></mat-icon>
  <app-data-table
          [rows]="listItem | slice: pagination.size * pagination.page : pagination.size * (pagination.page + 1)"
          [columns]="columns"
          [pagination]="pagination"
          [rowTemplate]="rowTemplate"
          (pageChange)="changePage($event)">
    <ng-template #rowTemplate let-row="row" let-column="column">
      <ng-container [ngSwitch]="column.columnDef">
        <ng-container *ngSwitchCase="'action'">
          <button mat-stroked-button color="primary" (click)="addOrEdit(row)">Edit</button>
          <button mat-stroked-button color="warn" class="ml-2" (click)="delete(row)">Delete</button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-td-table-default [text]="column.cellRenderer ? column.cellRenderer(row) : row[column.columnDef]"></app-td-table-default>
        </ng-container>
      </ng-container>
    </ng-template>
  </app-data-table>
</ng-container>
