<ng-container *transloco="let t">
  <p class="text-3xl font-bold underline">
    {{t('title')}}
  </p>
  English
  <mat-slide-toggle
    class="example-margin"
    [color]="'primary'"
    (toggleChange)="setLanguage()"
    [checked]="checked">
  </mat-slide-toggle>
  Vietnamese

  <mat-icon svgIcon="heroicons_outline:academic-cap"></mat-icon>
  <app-data-table
    [rows]="listItem | slice: pagination.size * pagination.page : pagination.size * (pagination.page + 1)"
    [columns]="columns"
    [pagination]="pagination"
    [rowTemplate]="rowTemplate"
    (pageChange)="changePage($event)">
    <ng-template #rowTemplate let-row="row" let-column="column">
      <ng-container [ngSwitch]="column.columnDef">
        <ng-container *ngSwitchCase="'action'">
          <button mat-stroked-button color="primary" (click)="addOrEdit(row)">Edit</button>
          <button mat-stroked-button color="warn" class="ml-2" (click)="delete(row)">Delete</button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <app-td-table-default
            [text]="column.cellRenderer ? column.cellRenderer(row) : row[column.columnDef]"></app-td-table-default>
        </ng-container>
      </ng-container>
    </ng-template>
  </app-data-table>

  <div class="form p-4" [formGroup]="testForm">
    <div class="formArray" formArrayName="configs"
         *ngFor="let item of testForm.get('configs')?.['controls']; let i = index;">
      <div [formGroupName]="i" class="flex flex-col">
        <label for="name">Name</label>
        <mat-form-field class="w-1/3">
          <input type="text" placeholder="Name" matInput formControlName="name" id="name"/>
        </mat-form-field>

        <label for="age">Age</label>
        <mat-form-field class="w-1/3">
          <input type="text" matInput placeholder="Age" formControlName="age" id="age"/>
        </mat-form-field>

        <button mat-stroked-button color="primary" class="w-1/12" *ngIf="i === 0" (click)="addNewConfigItem()">Add</button>
        <button mat-stroked-button color="primary" class="w-1/12" *ngIf="i !== 0" (click)="deleteConfigItem(i)">Delete</button>
      </div>
    </div>
  </div>
</ng-container>




